
<div class = artist_detail>
  <div class = artist_name>
  <div class = sign>[アーティスト名]</div>
  <%= @artist.title %>
  </div>
  <div class = edit_delete>
  <%= link_to "アーティスト一覧に戻る",root_path%>
  <%= link_to "アーティストの削除", artist_path(params[:id]),id: "artist_delete",method: :delete, data: {confirm: "本当に削除しますか？"}%>
  </div>
</div>
 
 
 <div class = space>アルバム一覧⬇︎</div>
<%= form_with model:[@artist, @album],class: "add_form_frame",id: "form" do |form| %>
  <%= form.text_field :title ,placeholder: "新たに追加するアルバム名を入力してください" , class: "add_form", id: "title"%>
  <div class = add_form_submit_frame><%= form.submit :作成する ,id: "submit2"%></div>
<% end %>

<div id = list>
<% @albums.each do |album|%>
  <div class = album>
  <div><%= album.title%></div>
  <div class = review>
  <div class = star_rate id="star-rate<%= album.id%>"></div>   
  <%= link_to "アルバム詳細", artist_album_path(@artist.id,album.id),class:"link_to_songs"%>
  <%= link_to "アルバム名・評価の変更",edit_artist_album_path(@artist.id,album.id),class: "link_to_album_edit"%>  
    <script>
      $('#star-rate<%= album.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf  : '<%= asset_path('star-half.png')%>',
        half      : true,
        readOnly: true,
        score: <%= album.star %>,
      });
    </script>
    
    </div>
</div>
<% end %>
</div>