<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class = "header">
   <div class = "header_box_left">
   <div class = "header_title">ReviewApp</div>
   </div>
   <div class = "header_box_right">
   <%= link_to "ログイン", user_session_path %>
   <%= link_to "新規登録", new_user_registration_path %>
   </div>
    </header>
      <%= yield %>
        <% if devise_controller? == false %>
        <%= form_with url: "#",local: true ,class: "add_form_frame" do |form| %>
        <%= form.text_field :hoge ,placeholder: "新たに追加する名前を入力してください" ,class: "add_form" %>
        <div class = add_form_submit_frame><%= form.submit :作成する ,class: "add_form_submit"%></div>
        <% end %>
      <% end %>
  </body>
</html>
