<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>
  <body>
   <header class = "header">
   <div class = "header_box_left">
   <div class = "header_title">ReviewApp</div>
   </div>

   <% if user_signed_in?%>
   <div class = "header_box_right">
   <%= link_to current_user.nickname, "#" %>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
   </div>
   <% else %>
   <div class = "header_box_right">
   <%= link_to "ログイン", user_session_path %>
   <%= link_to "新規登録", new_user_registration_path %>
   </div>
   <% end %>
    </header>
      <%= yield %>
  </body>
</html>
